body {
	margin: 0;
	top: 0;
}

* {
	border-radius: 0px !important;
}

.navigation-bar {
	height: 40px;
}

.navigation-bar li {
	min-width: 100px;
	list-style-type: none;
	padding: 15px;
	text-align: left;
	display: inline-block;
	cursor: pointer;
}

#filterBar {
	background-color: #f2f2f2;
	width: 100%;
	margin-left: 7px;
	padding: 6px;
}

.filter {
	display: inline-block;
	padding-left: 30px;
}

.filter-title {
	color: #f2f2f2
}

.task-table {
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.task-table-item {
	height: 50px;
	width: 100%;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	line-height: 50px;
}

.task-table-header {
	font-weight: bold;
}

.task-table-title {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}

.searchfilter {
	float: right;
	width: 25%;
	margin-top: 18px;
	margin-right: 44px;
}

.create-task-field {
	width: 102%;
	border-left: none;
	border-right: none;
	padding-left: 40px;
	height: 43px;
}

#tasklist {
	overflow-y: auto;
	height: 58%;
	position: absolute;
	width: 93.9%;
}

.filters-hieght {
	height: 33px;
}

.tag-list {
	list-style: none;
	line-height: 17px;
	background: #dddddd;
	margin-top: 4px;
	margin-left: -36px;
	
}

.tagfilter-form-group {
	margin-bottom: 36px;
	padding: 11px;
}
 
#drop-down {
	min-width: 235px !important;
	height: 150px;
	overflow-y: auto;
}

.filter-bar {
	padding: 3px;
	border: 1px solid #ccc;
	border-top: none;
	height: 34px;
	width: 101%;
	border-right: none;
	border-left: none;
	border-bottom:none;
}

.filter-tag {
	border-radius: 5px !important;
	margin-left: 5px;
	float: left;
	border: 1px solid #d6d0d0;
	padding: 4px;
	text-transform: lowercase;
}
