<div class="container" ng-controller="addtenantcontroller"
	ng-show="isAuthenticated">


	<div class="page-header">
		<h4>Create New Tenant</h4>
	</div>

	<div class="container-page">
		<form class="form" ng-submit="addTenant()" novalidate>

			<div class="col-sm-5">
				<div class="form-group required">
					<label for="name" class="control-label">Company Name</label> <input
						class="form-control input-sm" name="name" type="text"
						ng-model="tenant.tenantName" required placeholder="Tenant Name"
						autocomplete="off" />
				</div>
			</div>


			<div class="col-sm-5">
				<div class="form-group required">
					<label for="domain" class="control-label">Domain</label> <input
						class="form-control input-sm" name="domain" type="text"
						ng-model="tenant.domain" required placeholder="domain.com"
						autocomplete="off" />

				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group required">
					<label for="employeeName" class="control-label"> Admin name</label>
					<input class="form-control input-sm" name="admin" type="text"
						ng-model="user.name" required placeholder="Admin name"
						autocomplete="off" />

				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group required">
					<label for="employeeUsername" class="control-label">
						Username</label> <input class="form-control input-sm" name="username"
						type="text" ng-model="user.username" required
						placeholder="Enter username" autocomplete="off" />

				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group required">
					<label for="employeeEmail" class="control-label">Email</label> <input
						class="form-control input-sm" name="admin" type="email"
						ng-model="user.email" required placeholder="Enter email"
						autocomplete="off" />
				</div>
			</div>

			<div class="form-group col-sm-6 btngrp">
				<button type="submit" class="btn btn-primary" id="btnSave">
					<span class="glyphicon glyphicon-floppy-disk"></span> Save
				</button>
				<a class="btn btn-default" href="#/viewtenant"> <span
					class="glyphicon glyphicon-remove"></span> Cancel
				</a>
			</div>
		</form>
	</div>
</div>