<style>
.title {
	padding: 14px 0px 0px 14px;
	border: 1px solid #dddddd;
	width: 100%;
	font-weight: 700;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	resize: none;
	outline: none;
	overflow: hidden;
	height: 46px;
	background: #f5f5f5 !important;
	border-radius: 6px !important;
}

.title:focus {
	background: #eee;
	color: #333;
}

.date {
	position: absolute;
	width: 83%;
	font-weight: bold;
	border: none;
	color: #dc441f;
	outline: none;
	background: transparent;
	cursor: pointer;
}

.list {
	padding: 9px;
	cursor: pointer;
}

.list:hover {
	background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.testblur {
	border: none;
	padding-left: 5px;
}

.dropdown-toggle:hover {
	font-weight: bold;
}

.commentlist-and-filelist {
	overflow-y: auto;
	height: 232px;
	width: 100%;
	overflow-x: hidden;
}

#comment-body {
	margin-top: 14px;
	background: #c2d8ea;
	padding-bottom: 5px;
	padding-top: 7px;
}

.upload-btn {
	margin-top: 7px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.done-true {
	text-decoration: line-through;
	color: black;
}

.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 100%;
	padding-top: 20px;
	padding-left: 10px;
	border-left: 2px solid #ddd;
	color: #777;
}

.timeline ul li::after {
	content: '';
	position: absolute;
	left: 0%;
	bottom: 5px;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #555;
}

.history-content {
	overflow-y: auto;
	height: 447px;
}

.glowing-border {
	border: 2px solid #dadada;
	border-radius: 7px;
}

.glowing-border:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

.input-border {
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	-khtml-border-radius: 10px; /* KHTML */
	border-radius: 10px; /* CSS3 */
	width: 178px;
	height: 28px;
}

.glyphicon-md:before {
	font-size: 18px !important;
}

.tooltip.customClass .tooltip-inner {
	color: white;
	background-color: #337ab7;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/* Hide arrow */
.tooltip.customClass .tooltip-arrow {
	display: none;
}
</style>
<div ng-controller="edittaskcontroller" ng-show="isAuthenticated"
	nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter"
	class="container">
	<div ng-show="editTask">
		<toast></toast>
		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-2">
					<a class="primary-color" href="#/task"><span
						class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
				</div>
				<div class="col-sm-1">
					<span class="{{statusGlyphicon}} glyphicon-md drowdown-toggle"
						tooltip-placement="bottom-right"
						uib-tooltip="click here change status" tooltip-class="customClass"
						data-toggle="dropdown"></span>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel"
						ng-hide="!authorities.EDIT_ISSUE" style="line-height: 2">
						<li class="dropdown-list hover"
							ng-repeat="status in statuses|orderBy:'index'"
							ng-click="changeStatus(status.value)"><span
							class="{{status.glyphicon}}"></span>{{status.name}}</li>
					</ul>
				</div>
				<div class="col-sm-1 padding-left-none">
					<span class="{{priorityglyphicon}} glyphicon-md dropdown-toggle"
						tooltip-placement="bottom-right"
						uib-tooltip="click here change priority"
						tooltip-class="customClass" data-toggle="dropdown"></span>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel"
						ng-hide="!authorities.EDIT_ISSUE" style="line-height: 2">
						<li class="dropdown-list hover"
							ng-repeat="priority in priorities|orderBy:'index'"
							ng-click="changePriority(priority.value)"><span
							class="{{priority.glyphicon}}"></span> {{priority.name}}</li>
					</ul>
				</div>
				<div class="col-sm-6" style="margin-left: -30px">
					<textarea rows="1" id="editTaskTitle" class="title"
						ng-disabled='!authorities.EDIT_ISSUE' ng-model="editedTask.title"
						enterpress="updateTitle()" outfocus="updateTitle()"></textarea>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-primary btn-lg"
						data-toggle="modal" data-target="#history">Show History</button>
				</div>
				<div class="col-sm-12 list">
					<div class="col-sm-3">
						<label>Start Date</label>
					</div>
					<div class="col-sm-8">
						<input class="date" type="text" ng-click="open1()"
							uib-datepicker-popup="{{format}}" ng-model="editedTask.startDate"
							id="startdate" name="startdate" is-open="popup1.opened"
							datepicker-options="dateOptions" ng-required="true"
							close-text="Close" alt-input-formats="altInputFormats"
							ng-disabled="!authorities.EDIT_ISSUE" placeholder="dd-MMMM-yyyy"
							data-ng-change="editStartDate()">
					</div>
				</div>
				<div class="col-sm-12 list">
					<div class="col-sm-3">
						<label>Dead Line</label>
					</div>
					<div class="col-sm-8">
						<input class="date" type="text" ng-click="open2()"
							uib-datepicker-popup="{{format}}" ng-model="editedTask.deadline"
							id="deadline" name="deadline" is-open="popup2.opened"
							datepicker-options="dateOptions" ng-required="true"
							close-text="Close" alt-input-formats="altInputFormats"
							ng-disabled="!authorities.EDIT_ISSUE" placeholder="dd-MMMM-yyyy"
							data-ng-change="editDeadline()">
					</div>
				</div>
				<div class="col-sm-12 list">
					<div class="col-sm-2">
						<label>Assignee</label>
					</div>
					<div class="col-sm-8">
						<tags-input ng-model="users" enterpress="addUsers()"
							display-property="name" placeholder="Type here to add user"
							addFromAutocompleteOnly="true" replace-spaces-with-dashes="false"
							minLength=1> <auto-complete
							source="loadUsers($query)" min-length="0" load-on-focus="true"
							load-on-empty="false" max-results-to-show="32"
							template="user-list-template"></auto-complete> </tags-input>
						<script type="text/ng-template" id="user-list-template">
     
      <div class="right-panel">
        <span>{{data.name}}</span>
      </div>
    </script>
					</div>
				</div>
				<div class="col-sm-12 list">
					<div class="col-sm-2">
						<label>Tags</label>
					</div>
					<div class="col-sm-8">
						<dh-tag list="editedTask.tags" placeholder='Click here to add tag'
							display="true" value="editTag()" valuecancel="getTask()"
							tags="tags"></dh-tag>
					</div>

				</div>
				<div class="col-sm-12 list">
					<div class="col-sm-2">
						<label>Message</label>
					</div>
					<div class="col-sm-8">
						<textarea type="text" class="title"
							tooltip-placement="bottom-right"
							uib-tooltip="click Enter to save message"
							tooltip-class="customClass" ng-model="editedTask.description"
							ng-disabled="!authorities.EDIT_ISSUE"
							enterpress="editDescription()">
               </textarea>
					</div>
				</div>
				<div class="col-sm-12 list">
					<div class="col-sm-2">
						<label>SubTask</label>
					</div>
					<div class="col-sm-8">
						<input type="text" class="form-control"
							ng-disabled="!authorities.ADDING_SUBTASK"
							ng-model="subtasks.message"
							placeholder="Type Here To Create New Sub Task"
							enterpress="createNewSubtask()" outfocus="createNewSubtask()" />
					</div>
				</div>
				<div class="col-sm-8 border-bottom"
					ng-repeat="subtask in editedTask.subtasks | orderBy:'-createdDate'">
					<div class="col-sm-9">
						<input type="checkbox" id="status" ng-model="subtask.isComplete"
							ng-disabled="!authorities.EDIT_SUBTASK||!authorities.EDIT_ISSUE"
							ng-click="changeSubtaskStatus(subtask.id, $event)"> <label><h5
								for="status" class="done-{{subtask.isComplete}}"
								editable-text="subtask.message"
								on-change="editSubtask(subtask.id,value)"></h5></label>
					</div>
					<div class="col-sm-1" ng-hide="!authorities.DELETE_SUBTASK">
						<a class="link" ng-click="deleteSubtask(subtask.id)"><span
							class="glyphicon glyphicon-trash"></span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-12 bottom-border">
					<div class="col-sm-3">
						<h4>Files</h4>
					</div>
					<div class="col-sm-2" ng-hide="!authorities.EDIT_ISSUE">
						<button type="button" class="btn btn" data-toggle="modal"
							data-target="#uploadfile">
							<span class="glyphicon glyphicon-upload" data-toggle="tooltip"
								data-placement="right" title="Upload Files"></span>
						</button>
					</div>
					<div class="modal fade" tabindex="-1" role="dialog" id="uploadfile"
						style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true"></span>
									</button>
									<div class="fileUpload btn btn-primary">
										<span>Upload</span> <input type="file" class="upload ng-scope"
											nv-file-select="" uploader="uploader" multiple="" /> <span
											class="glyphicon glyphicon-upload"></span>
									</div>
								</div>
								<div class="modal-body" style="padding-bottom: 19%">
									<table class="table">
										<thead>
											<tr>
												<th width="50%">Name</th>
												<th>Size</th>
												<th>Progress</th>
												<th>Status</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in uploader.queue">
												<td><strong>{{ item.file.name }}</strong></td>
												<td nowrap>{{ item.file.size/25600/25600|number:2 }} MB</td>
												<td>
													<div class="progress" style="margin-bottom: 0;">
														<div class="progress-bar" role="progressbar"
															ng-style="{ 'width': item.progress + '%' }"></div>
													</div>
												</td>
												<td class="text-center"><span ng-show="item.isSuccess"><i
														class="glyphicon glyphicon-ok"></i></span> <span
													ng-show="item.isCancel"><i
														class="glyphicon glyphicon-ban-circle"></i></span> <span
													ng-show="item.isError"><i
														class="glyphicon glyphicon-remove"></i></span></td>
												<td nowrap>
													<button type="button" class="btn btn-danger btn-xs"
														ng-click="item.remove()">
														<span class="glyphicon glyphicon-trash"></span> Remove
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-success btn-s"
										ng-click="uploader.uploadAll(); getTask()"
										data-dismiss="modal"
										ng-disabled="!uploader.getNotUploadedItems().length">
										<span class="glyphicon glyphicon-upload"></span> Upload all
									</button>
									<button type="button" class="btn btn-danger btn-s"
										ng-click="uploader.clearQueue()"
										ng-disabled="!uploader.queue.length">
										<span class="glyphicon glyphicon-trash"></span> Remove all
									</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn"
							ng-click="downloadAllFile('download.zip')">
							<span class="glyphicon glyphicon-download-alt"
								data-toggle="tooltip" data-placement="right"
								title="Download all attachments"></span>
						</button>
					</div>
				</div>
				<div class="commentlist-and-filelist">
					<div class="col-sm-12" ng-repeat="file in files">
						<div class="col-sm-9 headings">{{file.name}}</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn upload-btn"
								ng-click="downloadFile(file.name)">
								<span class="glyphicon glyphicon-download-alt"
									data-toggle="tooltip" data-placement="right" title="Download"></span>
							</button>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn upload-btn"
								ng-click="deleteFile(file.name)">
								<span class="glyphicon glyphicon-trash" data-toggle="tooltip"
									data-placement="right" title="Delete File"></span>
							</button>
						</div>
						<div class="modal fade" id="myModal1" role="dialog">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Are you sure you want to delete</h4>
									</div>
									<div class="modal-body">
										<button class="btn btn-danger" data-dismiss="modal"
											ng-click="deleteFile($index)">Yes</button>
										<button class="btn btn-primary" data-dismiss="modal">No</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<h4>Add Comment</h4>
			</div>
			<div class="col-sm-12">
				<textarea type="text" class="form-control createcommentfield"
					ng-model="title"
					placeholder="Type Here To Comment(Use # to tag a task)"
					enterpress="addComment()" mentio id="test" mentio-id="'test'"
					mentio-typed-text="typedTerm" mentio-search="searchTasks(term)"
					mentio-trigger-char="'#'" mentio-items="taskIds" /></textarea>
			</div>
			<div class="col-sm-12 commentlist-and-filelist">
				<div class="col-sm-12"
					ng-repeat="comment in editedTask.comments | orderBy:'-createdDate'"
					id="comment-body" ng-include="getTemplate(comment)"></div>
			</div>
			<script type="text/ng-template" id="view">
				<div class="col-sm-9">
					<div ng-bind-html="parseComment(comment.message)"></div>
				</div>
					<div class="col-sm-1">
					<button type="button" class="btn btn" style="margin-top: 7px;" data-toggle="modal"
							data-target="#uploadCommentfile" ng-click="holdCommentId(comment.id)">
							<span class="glyphicon glyphicon-paperclip" data-toggle="tooltip"
								data-placement="right" title="Upload Files"></span>
						</button>
				</div>
				<div class="col-sm-1">
					<button type="button" class="btn btn" style="margin-top: 7px;"
						ng-click="deleteComment(comment.id)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</div>
				<div class="col-sm-1">
					<button type="button" class="btn btn" style="margin-top: 7px;" ng-click="edit(comment)">
						
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</div>
	<div class="col-sm-12" ng-repeat="file in comment.files">
						<div class="col-sm-9 headings">{{file.name}}</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn upload-btn"
								ng-click="downloadFile(file.name)">
								<span class="glyphicon glyphicon-download-alt"
									data-toggle="tooltip" data-placement="right" title="Download"></span>
							</button>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn upload-btn"
								ng-click="deleteFile(file.name)">
								<span class="glyphicon glyphicon-trash" data-toggle="tooltip"
									data-placement="right" title="Delete File"></span>
							</button>
						</div>
						<div class="modal fade" id="myModal1" role="dialog">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Are you sure you want to delete</h4>
									</div>
									<div class="modal-body">
										<button class="btn btn-danger" data-dismiss="modal"
											ng-click="deleteFile($index)">Yes</button>
										<button class="btn btn-primary" data-dismiss="modal">No</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</script>
			<script type="text/ng-template" id="edit">
				<div class="col-sm-9">
				<textarea type="text" id="commentbody" value="{{comment.message}}"rows="5" 
						ng-show="true" ng-model="comment.message"
						ng-bind-html="parseComment(comment.message,'https://www.google.com')"
						ng-class="{'testnotblur': $index==editable}" class="form-control" outfocus="closeCommentEditView()"
						enterpress=editComment(comment.id,comment.message)></textarea>
	
						
				</div>
	</script>
			<div class="modal fade" tabindex="-1" role="dialog"
				id="uploadCommentfile" style="display: none;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true"></span>
							</button>
							<div class="fileUpload btn btn-primary">
								<span>Upload</span> <input type="file" class="upload ng-scope"
									nv-file-select="" uploader="uploader" multiple="" /> <span
									class="glyphicon glyphicon-upload"></span>
							</div>
						</div>
						<div class="modal-body" style="padding-bottom: 19%">
							<table class="table">
								<thead>
									<tr>
										<th width="50%">Name</th>
										<th>Size</th>
										<th>Progress</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in uploader.queue">
										<td><strong>{{ item.file.name }}</strong></td>
										<td nowrap>{{ item.file.size/25600/25600|number:2 }} MB</td>
										<td>
											<div class="progress" style="margin-bottom: 0;">
												<div class="progress-bar" role="progressbar"
													ng-style="{ 'width': item.progress + '%' }"></div>
											</div>
										</td>
										<td class="text-center"><span ng-show="item.isSuccess"><i
												class="glyphicon glyphicon-ok"></i></span> <span
											ng-show="item.isCancel"><i
												class="glyphicon glyphicon-ban-circle"></i></span> <span
											ng-show="item.isError"><i
												class="glyphicon glyphicon-remove"></i></span></td>
										<td nowrap>
											<button type="button" class="btn btn-danger btn-xs"
												ng-click="item.remove()">
												<span class="glyphicon glyphicon-trash"></span> Remove
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success btn-s"
								ng-click="uploader.uploadAll()"
								ng-disabled="!uploader.getNotUploadedItems().length">
								<span class="glyphicon glyphicon-upload"></span> Upload all
							</button>
							<button type="button" class="btn btn-danger btn-s"
								ng-click="uploader.clearQueue()"
								ng-disabled="!uploader.queue.length">
								<span class="glyphicon glyphicon-trash"></span> Remove all
							</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
		</div>
		<div class="modal fade" id="history" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<div class="col-sm-8">
							<h4 class="modal-title" id="myModalLabel">History</h4>
						</div>
						<div class="col-sm-1">
							<input type="text" placeholder=" &#128269;Search"
								class="glowing-border input-border" id="search" value="search"
								ng-model="search">
						</div>
					</div>
					<div class="modal-body">
						<div class="history-content">
							<div class="row" style="margin-left: 0px"
								ng-repeat="h in history| filter:search">
								<div class="col-sm-1"
									style="line-height: 35px; padding-left: 50px; padding-right: 0; margin-top: 14px;">
									<span class={{h.className}}></span>
								</div>
								<div class="col-sm-10">
									<div class="timeline">
										<ul>
											<li>{{h.message}}</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="showEditTask">
		<div class="col-sm-12">
			<div class="alert alert-danger">
				<strong></strong>&nbsp&nbsp
				<h4 style="text-align: center;">Issue/Bug has been archieved</h4>
			</div>

		</div>
	</div>
</div>