<div class="container" ng-controller="editprojectcontroller"
	ng-show="isAuthenticated">
	<toast></toast>

	<div class="col-sm-13 col-sm-offset-1">
		<div class="page-header">
			<h4>Edit Project</h4>
			<hr>
		</div>

		<form class="form" ng-submit="updateProject()" novalidate>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group required">
						<label class="control-label">Title</label> <input
							class="form-control" name="title" type="text"
							ng-disabled="!authorities.EDIT_PROJECT"
							ng-model="editedProject.projectName" required
							placeholder="Project Name" />
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group required">
						<label for="employeeNo" class="control-label">Start Date </label>
						<input type="text" class="form-control" ng-click="open1()"
							uib-datepicker-popup="{{format}}"
							ng-model="editedProject.startDate" id="startdate"
							name="startdate" is-open="popup1.opened"
							ng-disabled="!authorities.EDIT_PROJECT"
							datepicker-options="dateOptions" ng-required="true"
							close-text="Close" alt-input-formats="altInputFormats"
							style="position: absolute; width: 82%;" />
						<button type="button" class="btn btn-default" ng-click="open1()"
							ng-disabled="!authorities.EDIT_PROJECT"
							ng-model="editedProject.startDate" placeholder="dd-MMMM-yyyy"
							style="float: right">
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</div>
				</div>

			</div>


			<div class="row">
				<div class="col-sm-4">
					<div class="form-group required">
						<label for="employeeNo" class="control-label"> Description
						</label>
						<textarea class="form-control " name="description" type="text"
							ng-disabled="!authorities.EDIT_PROJECT"
							ng-model="editedProject.description" required
							placeholder="Description"></textarea>

					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="#/adduserstoproject/{{editedProject.projectId}}"
						class="btn btn-primary">Add Members</a>


				</div>
			</div>
			<div class="row">

				<div class="col-sm-3">
					<a class="btn btn-default pull-right" href="#/project"> <span
						class="glyphicon glyphicon-remove"></span> Cancel
					</a>
				</div>
				<div class="col-sm-2">
					<button type="submit" class="btn btn-primary pull-left ">
						<span class="glyphicon glyphicon-floppy-disk"></span> Save
					</button>
				</div>

			</div>
		</form>
	</div>
</div>