<div ng-controller="preferencesctrl" class="container"
	ng-show="isAuthenticated">

	<div class="row">
		<h3>Notification Settings</h3>
	</div>

	<div class="row" ng-repeat="s in subscriptions">
		<label><input type="checkbox">{{s}}</label>
	</div>

	<div class="row">
		<button class="btn btn-primary">save</button>
	</div>
</div>