<style>
.glyphicon-plus:before {
	content: "\2b";
	color: #512da8;
	padding-right: 3px;
}
</style>
<div ng-controller="projectcontroller" class="container"
	ng-show="isAuthenticated">



	<toast></toast>

	<div class="col-sm-12" id="cuserlink">
		<div class="col-sm-7">
			<span class="glyphicon glyphicon-plus" ng-show="admin"></span> <a
				style="color: #512da8" href="#/createproject" ng-show="admin"
				data-toggle="tooltip" data-placement="right"
				title="Click here to add a new project">Add New Project</a>
		</div>


		<div class="col-sm-5">
			<div class="searchelementdiv" ng-hide="createuserdiv">
				<input type="text" placeholder="type here" class="search "
					ng-model="searchText">
				<button type="button"
					class="glyphicon glyphicon-search searchGlyphicon"
					ng-click="loadProjects()"></button>
			</div>

		</div>
	</div>
	<div class=" col-sm-12">
		<table class="table table-hover">
			<tr>
				<th class="thead">Project Name</th>
				<th class="thead">Description</th>
				<th class="thead">Start Date</th>
				<th class="thead"></th>

			</tr>
			<tr ng-repeat="project in projects">
				<td>{{project.projectName}}</td>
				<td>{{project.description}}</td>
				<td>{{project.startDate|date:'shortDate'}}</td>
				<td><span class="glyphicon glyphicon-pencil"
					style="color: #512da8"></span><a
					href="#/editproject/{{project.projectId}}">Edit</a></td>
				<!-- <td><span class="glyphicon glyphicon-trash"
							style="color: #512da8"></span><a ng-click="delete($index)">&nbsp;Delete</a></td> -->


			</tr>
		</table>
	</div>
</div>
