<style>
.eye-open {
	color: #49ab0e !important;
	font-size: 15px !important;
}

.trash {
	color: red !important;
	font-size: 17px !important;
}
</style>
<div class="container" ng-controller="taskcontroller"
	ng-show="isAuthenticated">

	<toast></toast>
	<script type="text/ng-template" id="customTemplate.html">
  <a>
     
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>
	<div>

		<div id="filterBar"></div>

		<div class="searchfilter">
			<input type="text" placeholder="type here"
				class="search  ng-pristine ng-valid ng-empty ng-touched"
				ng-model="searchTask" ng-change="loadTasks()">
			<button type="button"
				class="glyphicon glyphicon-search searchGlyphicon"></button>
		</div>

	</div>
	<div class="col-sm-12 padding-left-none" ng-show="showTaskCreationBox">

		<input type="text" class="form-control create-task-field"
			ng-disabled="!authorities.CREATE_ISSUE" ng-model="task.title"
			placeholder="Type here to report a new issue"
			enterpress="createNewTask()">
	</div>
	<div class="col-sm-12 padding-left-none filter-bar">
		<div class="filter-tag" ng-repeat="s in status">
			{{s}}<span ng-click="removeFilter(s,'status')"
				class="glyphicon glyphicon-remove"></span>
		</div>
		<div class="filter-tag" ng-repeat="p in priority">
			{{p}}<span class="glyphicon glyphicon-remove"
				ng-click="removeFilter(p,'priority')"></span>
		</div>
		<div class="filter-tag" ng-show="late=='true'">
			Late<span ng-click="removeFilter('late','deadlineReached')"
				class="glyphicon glyphicon-remove"></span>
		</div>

		<div class="filter-tag" ng-repeat="tag in filterTags">
			{{tag.tagName}}<span ng-click="removeFilter(tag,'tag')"
				class="glyphicon glyphicon-remove"></span>
		</div>
	
	</div>
	<div class="task-table">
		<div class="task-table-header">
			<div class="task-table-title">ISSUES</div>

		</div>
		<div class="task-table-item">
			<div class="col-md-1">ID</div>
			<div class="col-md-2">Title</div>
			<div class="col-md-1">StartDate</div>
			<div class="col-md-1">DeadLine</div>
			<div class="col-md-1">Complete</div>
			<div class="col-md-1">Status</div>
			<div class="col-md-1">Priority</div>
			<div class="col-md-2">Project Name</div>
			<div class="col-md-1">View</div>
			<div class="col-md-1">Delete</div>
		</div>
		<div id="tasklist">

			<div class="task-table-item"
				ng-repeat="task in taskss| orderBy:'-createdDate'">
				<div class="col-md-1 lowercase">{{task.taskId}}</div>
				<div class="col-md-2 lowercase">{{task.title}}</div>
				<div class="col-md-1 lowercase">{{task.startDate|date:'shortDate'}}</div>
				<div class="col-md-1 lowercase">{{task.deadline|date:'shortDate'}}</div>
				<div class="col-md-1 lowercase">{{task.completeDate|date:'shortDate'}}</div>
				<div class="col-md-1 lowercase">{{task.status}}</div>
				<div class="col-md-1 lowercase">{{task.priority}}</div>
				<div class="col-md-2 lowercase">{{task.project.projectName}}</div>

				<div class="col-md-1">
					<a href="#/project/{{task.project.projectId}}/task/{{task.taskId}}">
						<span class="glyphicon glyphicon-eye-open eye-open"></span>
					</a>
				</div>
				<div class="col-md-1">
					<a ng-click="deleteTask(task.id)"><span
						class="glyphicon glyphicon-trash trash"></span></a>
				</div>


				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Are you sure you want to delete</h4>
							</div>
							<div class="modal-body">
								<button class="btn btn-primary" data-dismiss="modal">No</button>
								<button class="btn btn-danger" data-dismiss="modal"
									ng-click="deleteTask(task.id)">Yes</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

