<style>
.search {
	width: 80%;
}
</style>

<div ng-controller="viewtenantcontroller" ng-show="isAuthenticated" class="container">


		<div class="col-sm-11">

			<div class="row pull-right searchbar-padding">
				<div>
					<input type="text" placeholder="type here" class="search"
						ng-model="searchText" ng-change="loadtenants()">
					<button type="button"
						class="glyphicon glyphicon-search searchGlyphicon"
						></button>
				</div>
			</div>

			<div class=" col-sm-12">
				<table class="table table-hover">
					<tr>
						<th class="thead">Tenant Id</th>
						<th class="thead">Tenant Name</th>
						<th class="thead">Domain</th>
						<th class="thead"></th>
					</tr>
					<tr ng-repeat="tenant in tenants">
						<td>{{tenant.tenantId}}</td>
						<td>{{tenant.tenantName}}</td>
						<td>{{tenant.domain}}</td>
						<td></td>
					</tr>
				</table>
			</div>



		</div>
	
</div>