<style>
.col{
margin-left: 94%;
    margin-top: -2%;
}
</style>

<div class="nav-header ">
	<div class="collapse navbar-collapse mynav">
	
		<h4>TMS</h4><div class="col">
		<button type="submit" class="btn btn-primary" id="btnSave" >
			<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp&nbsp <a style="color:white" href="#/tms">Login</a>
		</button></div>
	</div>
</div>
<div class="col-md-4 col-sm-offset-4" ng-controller="adduserstotenantcontroller">
	<div class="row">
		<div class="panel panel-default"
			style="width: 113%; align-content: center;">
			<div class="page-header text-center">
				<h3>Company URL</h3>
			</div>
			<div class="panel-body">
				<div class="form-group required">
					<!-- Target -->
					<input id="url" ng-model="domainLink" class="form-control"
						style="width: 100%;" readonly="readonly">



				</div>
			</div>
			<div class="row ">
				<div class="form-group " align="center">
					<!-- Trigger -->
					<button ngclipboard data-clipboard-target="#url"
						class="btn btn-primary" data-loading-text="Saving...">
						<span class="glyphicon glyphicon-duplicate"></span> Copy
					</button>
				</div>
			</div>

		</div>
	</div>

</div>

